<p-paginator [rows]="10" [totalRecords]="100"></p-paginator>

<input type="text" pInputText />

<button pButton pRipple type="button" label="Salvar" class="pi pi-check p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" label="Cancelar" class="pi pi-times p-button-rounded p-button-primary"></button>

<div class="card">
        <div class="field-checkbox">
            <p-checkbox (ngModel)="checked" [binary]="true" inputId="binary"></p-checkbox>
            <label for="binary">{{checked}}</label>
        </div>
</div>


<div class="grid p-fluid">
  <div class="col-12 md:col-6 lg:col-4">
      <span>Basic</span>
      <p-inputMask mask="99-999999" (ngModel)="val1" placeholder="99-999999"></p-inputMask>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
      <span>SSN</span>
      <p-inputMask mask="999-99-9999" (ngModel)="val2" placeholder="999-99-9999"></p-inputMask>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
      <span>Date</span>
      <p-inputMask mask="99/99/9999" (ngModel)="val3" placeholder="99/99/9999" slotChar="mm/dd/yyyy"></p-inputMask>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
      <span>Phone</span>
      <p-inputMask mask="(999) 9999-9999" (ngModel)="val4" placeholder="(999) 9999-9999"></p-inputMask>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
      <span>Phone Ext</span>
      <p-inputMask mask="(999) 999-9999? x99999" (ngModel)="val5" placeholder="(999) 999-9999? x99999"></p-inputMask>
  </div>

  <div class="col-12 md:col-6 lg:col-4">
      <span>Serial Number</span>
      <p-inputMask mask="a*-999-a999" (ngModel)="val6" placeholder="a*-999-a999"></p-inputMask>
  </div>
</div>

